<!DOCTYPE HTML>
<html>
	<meta charset="utf-8"/>
    <head>

        <!--CSS-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="assets/css/bootstrap-select.min.css"/>
		<link rel="stylesheet" href="assets/css/nya-bs-select.css"/>
		<link rel="stylesheet" href="assets/css/css.css"/>
		<link rel="stylesheet" href="assets/css/nya-bs-select.css"/>
		<link rel="stylesheet" href="assets/css/ng-tags-input.css"/>
		<link rel="stylesheet" href="assets/css/ng-tags-input.bootstrap.css"/>


		<!--JS-->
		<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
        <script src="assets/js/vendor/angular.js"></script>
		<script src="assets/js/vendor/angular-cookies.js"></script>
		<script src="assets/js/vendor/angular-animate.js"></script>
		<script src="assets/js/vendor/nya-bs-select.js"></script>
		<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
		<script src="assets/js/app.js"></script>

    
    </head>
	
    <body ng-app="codeapp" ng-controller="homeController">
		<form>
			<div class="form-group">
				 <label class="sr-only">Email address</label>
				 <input type="email" class="form-control" ng-model="email" placeholder="Email address" required>
			</div>
			<div class="form-group">
				 <label class="sr-only">Senha:</label>
				 <input type="password" class="form2-control" ng-model="pass" placeholder="Password" name="password" required>
				 
			</div>
			<div class="form-group">
				<label class="sr-only">Confirme a senha:</label>
				<input type="password" class="form2-control" ng-model="pass2" placeholder="Password" name="password" required ng-blur="cadastro()">			
				<span class="help-inline" ng-show="check_pass">A senha não é a mesma</span>				
		   </div>
			<div class="form-group">
				 <button type="submit" class="btn btn-primary btn-block" ng-click="cadastro()">Cadastrar</button>
				 
			</div>			
	 </form>
    </body>
</html>
