<!DOCTYPE HTML>
<html>
	<meta charset="utf-8"/>
    <head>

        <!--CSS-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="assets/css/bootstrap-select.min.css"/>
		<link rel="stylesheet" href="assets/css/nya-bs-select.css"/>
		<link rel="stylesheet" href="assets/css/css.css"/>
		<link rel="stylesheet" href="assets/css/nya-bs-select.css"/>
		<link rel="stylesheet" href="assets/css/ng-tags-input.css"/>
		<link rel="stylesheet" href="assets/css/ng-tags-input.bootstrap.css"/>


		<!--JS-->
		<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
        <script src="assets/js/vendor/angular.js"></script>
		<script src="assets/js/vendor/angular-cookies.js"></script>
		<script src="assets/js/vendor/angular-animate.js"></script>
		<script src="assets/js/vendor/nya-bs-select.js"></script>
		<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
		<script src="assets/js/app.js"></script>

    
    </head>
	
    <body ng-app="codeapp" ng-controller="homeController">
		<form>

			<div class="form-group">
				<label class="col-sm-2 control-label">Categoria:</label>			
				<ol class="nya-bs-select" size="5" ng-model="categoriaa" data-live-search="true">
					<li nya-bs-option="cat in categoria" data-value="cat.nome">
						<a>{{cat.nome}}</a>
					</li>					
				</ol>				
			</div>	
			<div class="form-group">
					<label class="col-sm-2 control-label">Nome da Equipe:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="n_equipe" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Email de contato da equipe:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="email" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Modelo do Veiculo:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Modelo" ng-model="veiculo" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Cidade/Estado:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Modelo" ng-model="cidade" required />	
					</div>
			</div>
			<h1>Piloto</h1>
			<div class="form-group">
					<label class="col-sm-2 control-label">Nome do Piloto:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="nome_piloto" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Tipo Sanguineo:</label>
					<ol class="nya-bs-select" size="5" ng-model="t_sangue_p" data-live-search="true">
							<li nya-bs-option="sag in sangue" data-value="sag.nome">
								<a>{{sag.nome}}</a>
							</li>
					</ol>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">CNH do Piloto:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="cnh" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Telefone:</label>
					<div class="col-sm-10">
							<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="tel_p" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Em caso de Emergencia Falar com:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="emergencia_p" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Plano de Saúde:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="pl_saude_p" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Piloto tem alergia:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="alergia_p" required />	
					</div>
			</div>
			<h1>Navegador</h1>
			<div class="form-group">
					<label class="col-sm-2 control-label">Nome do Navegador:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="nome_navegador" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Tipo Sanguineo:</label>
					<ol class="nya-bs-select" size="5" ng-model="t_sangue_n" data-live-search="true">
							<li nya-bs-option="sag in sangue" data-value="sag.nome">
								<a>{{sag.nome}}</a>
							</li>
					</ol>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">RG:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="rg_navegador" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Telefone:</label>
					<div class="col-sm-10">
							<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="tel_n" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Em caso de Emergencia Falar com:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="emergencia_n" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Plano de Saúde:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="pl_saude_n" required />	
					</div>
			</div>
			<div class="form-group">
					<label class="col-sm-2 control-label">Piloto tem alergia:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="name" placeholder="Digite o Nome" ng-model="alergia_n" required />	
					</div>
			</div>

	 </form>
	 <div class="form-group">
		<button type="submit" class="btn btn-primary btn-block" ng-click="salvar()">Cadastrar</button>
		
   </div>	
    </body>
</html>