<!DOCTYPE HTML>
<html>
	<meta charset="utf-8"/>
    <head>

        <!--CSS-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="assets/css/bootstrap-select.min.css"/>
		<link rel="stylesheet" href="assets/css/nya-bs-select.css"/>
		<link rel="stylesheet" href="assets/css/css.css"/>
		<link rel="stylesheet" href="assets/css/nya-bs-select.css"/>
		<link rel="stylesheet" href="assets/css/ng-tags-input.css"/>
		<link rel="stylesheet" href="assets/css/ng-tags-input.bootstrap.css"/>

		<!--Application Script-->
		
		<script src="assets/js/vendor/angular.js"></script>
		<script src="assets/js/vendor/angular-cookies.js"></script>
		<script src="assets/js/vendor/angular-animate.js"></script>
		<script src="assets/js/vendor/nya-bs-select.js"></script>
		<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
		<script src="assets/js/app.js"></script>
      	<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>-->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<!--<script src="assets/js/browser.min.js"></script>
		-->
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>	

    
    </head>
    <body ng-app="codeapp" ng-controller="homeController">
            <div id="page-wrapper" >
                    <!-- Header -->
                        <div id="header" class="wrapper">
                                            
                            <!-- Nav -->
                            <div>
                                <nav id="nav" >
                                        <!--<ul class="nav navbar-nav navbar-right" ng-show="currentUser!=null">
                                                <li><span class="nome-usuario;">{{currentUser}}</span></li>
                                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Opções"><i class="fa fa-cog"></i></a></li>
                                                <li><a href="#" data-toggle="tooltip" data-placement="bottom" ng-click="logout()" title="Sair do sistema"><i class="fa fa-times"></i></a></li>
                                            </ul>-->
                                    <ul>
                                        <li class="current"><a href="index.html">Home</a></li>
                                        <li>
                                            <a href="#">Classificação</a>
                                            <ul>
                                                <li><a href="tabela.html">2018</a></li>
                                                <li><a href="#"><strike>2017</strike></a></li>
                                                <li >
                                                    <a href="#">Sed consequat</a>
                                                    <ul>
                                                        <li><a href="#">Lorem dolor</a></li>
                                                        <li><a href="#">Amet consequat</a></li>
                                                        <li><a href="#">Magna phasellus</a></li>
                                                        <li><a href="#">Etiam nisl</a></li>
                                                        <li><a href="#">Sed feugiat</a></li>
                                                    </ul>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li><a href="left-sidebar.html">Calendário 2018</a></li>
                                        <li><a href="login.html">Inscrições</a></li>
                                        <li><a href="no-sidebar.html">Regulamentos</a></li>
                                        <li><a href="no-sidebar.html">Patrocinadores</a></li>
                                        <li><a href="no-sidebar.html">Contato</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Logo -->
                            <div id=logo2>
                                <h1><a href="index.html">Rally Carioca</a></h1>
                                <p>Campeonato Estadual de Rally de Regularidade do Rio de Janeiro</p>
                            </div>
        
                            </div>
                        <!--APOIO-->
                        <div class="wrapper style1">
                            <br>                            
                                <div class="title">Competição</div>
                                <div class="container">
                                    <p class="style1" style="    font-size: 1.5em;
                                    letter-spacing: 0.075em;" align="center">Tabela de Participantes </p>
                                    <p class="style2">
                                            <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th ng-repeat="titulo in t_tables"><b>{{titulo.name}}</b></th>             
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        
                                                        <tr ng-repeat="class in tb_equipes">
                                                            <td ng-repeat="(key, value) in class">{{value}}</td>                    
                                                        </tr>
                                                    </tbody>
                                                </table>                 
                                    </p>
                                    <p class="style3">PÁGINA OFICIAL DO RALLY CARIOCA - FUNDADO EM JANEIRO DE 2017
            
                                        Campeonato Estadual de Rally de Regularidade - CNPJ:23.581.703/0001-56 - Todos os direitos reservados ao Rally Carioca - © 2018
                                    <!--<ul class="actions">
                                        <li><a href="#" class="button style3 large">Me Cadastrar</a></li>
                                    </ul> -->
                                </div>
                            </div>
                </div>
    </body>
</html>